.radial-node {
  position: absolute;
  min-width: 30px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5PX;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  border: @butterfly-box-border;
  background: @butterfly-primary-color;
  color: @butterfly-overlay-font-color;
}